.container{
	margin-left:  420px;
	margin-top:  150px;
	background-color: beige;
	width: 40%;
	height: 40%;
	text-align: center;
	padding-top:  30px;
	border: 1px solid grey;

}

button{
	width: 40px;
	height: 30px;
}

